@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  --primary-color: #E6E6E6;
  --secondary-color: #1D1D1F;
  --tertiary-color: #A6FF00;
  background-color: #E6E6E6;
  font-family: "Nunito Sans", Helvetica, sans-serif;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* NAVBAR */

nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: #FFFFFF;
  padding: 28px 120px;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#nav-button {
  background-color: #A6FF00;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 20px;
  font-size: 26px;
  font-weight: 700;
}

#logo a:hover {
  transition: 0.4s;
  padding: 5px;
  border: 1px solid #1D1D1F;
  border-radius: 5px;
}