/* imports site fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Karla:ital@0;1&display=swap');
/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --primary: #1C1D21;
  --secondary: #31353D;
  --tertiary: #6987b6;
  --quaternary: #28ab84;
  --quaternary-bright: #15c996;
  --quinary: #EEEFF7;
  --font-size: 1.3rem;
  --mono: Inconsolata, monospace;
  --sans: Karla, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--primary);
  color: var(--quinary);
  font-size: var(--font-size);
}
h1, h2, h3 {
  margin: 0;
}
a {
  color: var(--quaternary)
}
a:hover {
  color: var(--quaternary-bright);
  text-decoration: none;
}

/* INTRO */

#intro {
  padding-bottom: 10rem;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}
#intro .name {
  font-family: var(--mono);
}
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--tertiary);
  display: block;
}
#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  padding: 4rem 0;
}
.contact-container {
  width: 50%;
  text-align: center;
}

/* NAVBAR */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}
nav h1 a {
  font-family: var(--sans);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--tertiary)
}
nav a {
  color: var(--quinary);
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: var(--quaternary);
}
span.fa-bars-staggered {
  font-size: unset;
}
.cta-btn {
  background-color: var(--quaternary);
  padding: 6px;
  border-radius: 2px;
}
.cta-btn:hover {
  color: var(--quinary);
  background-color: var(--quaternary-bright);
}
@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: unset;
    margin-right: auto;
  }
}
