@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  --primary-color: #E6E6E6;
  --secondary-color: #1D1D1F;
  --tertiary-color: #A6FF00;
  background-color: #E6E6E6;
  font-family: "Nunito Sans", Helvetica, sans-serif;
  font-size: 14px;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* NAVBAR */

nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  background-color: #FFFFFF;
  height: 80px;
  padding: 0 120px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-btn {
  justify-self: end;

}

#nav-links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
}

#nav-links button {
  padding: 0 5px;
  border: none;
  background-color: transparent;
}

#nav-links button {
  padding: 10px 20px;
  border-radius: 18px;
}

#nav-links button:hover {
  cursor: pointer;
  transition: 0.8s;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
}

#nav-button {
  font-size: 15px;
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 18px;
  padding: 9px 20px;
}

#nav-button:hover {
  cursor: pointer;
  background-color: #9bee01;
}

#logo {
  font-size: 26px;
  font-weight: 700;
}

#logo a {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
}

#logo a:hover {
  transition: 0.8s;
  border: 1px solid #1d1d1f36;
  border-radius: 5px;
}

@media (min-width: 900px) {
  #nav-links-mobile {
    display: none;
  }
}

@media (max-width: 900px) {
  nav {
    grid-template-columns: repeat(2, auto);
    padding: 0 30px;
  }

  #nav-links-mobile img {
    width: 40px;
  }

  #nav-links-mobile button {
    background-color: transparent;
    border: none;
  }

  #nav-links-mobile button:hover {
    cursor: pointer;
  }

  #nav-links-mobile {
    justify-self: end;
  }

  #nav-links, .nav-btn {
    display: none;
  }
}

/* HERO */
#hero {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40rem;
}

h1 {
  font-size: 4.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 2.5em;
  margin-top: 0;
}

#hero-links button {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
  border-radius: 15px;
}

#hero-links button:hover {
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid transparent;
}